.App {
  max-width: 1200px;
  margin: 0 auto;
}
.App .container {
  background-color: bisque;
  border: 1px solid rgb(238, 120, 120);
  border-radius: 5px;
  padding: 10px;
}
.App .container h1 {
  font-family: "Lora", serif;
  text-align: center;
}
.App .container h2 {
  font-family: "Lora", serif;
  text-align: center;
  font-weight: bolder;
  padding-top: 20px;
}
.App .container .row .col-4 .wrap {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: blue;
}
.App .container p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 30px;
}
.App footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 10px 0;
}
